body {
    background-color: #d057c8;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 80px;
}

.container {
    background-color: rgb(151, 206, 240);
    width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
}

h1 {
    color: #4c1bbe;
}

button {
    background-color: #16e4e8;
    color: rgb(42, 38, 38);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #b50da1;
}

#ausgabe {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}